<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Boot Thymeleaf + Spring Security</title>

  <div th:replace="includes/header :: header-css"/>

</head>
<body>

<div th:replace="includes/header :: header"/>

<div class="container">

  <div class="starter-template">
    <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
    <h2>1. 访问 <a th:href="@{/manage/admin}">管理页面(需要 Admin 角色, User用户将会跳转到403界面)</a></h2>
    <h2>2. 访问 <a th:href="@{/user/user}">用户页面(需要 User 角色)</a></h2>
    <h2>3. 访问 <a th:href="@{/manage/about}">关于页面(无需权限验证)</a></h2>
    <h2>4. 访问 <a th:href="@{/user/adminRole}">/user目录下的资源，但是需要ADMIN角色</a></h2>
  </div>

</div>

<div th:replace="includes/footer :: footer"/>

</body>
</html>